
.Footer{
    background: rgb(66, 146, 235);
    color: white;
    padding: 3em;
    position: relative;
    z-index: 1;
}
.foot_img{
    margin-left: 41%;
}
.Footer_head{
    
    text-align: center;
    margin: 2% 0 0 0;
}


.footer_btn{
    margin-left: 43%;
}
.last{
    
    background-color: black;
    color: white;
    margin: 0%;
    padding: 0%;
}
.foot{
    padding: 0 2%;
    color: grey 100 !important;
    font-size: 1rem !important;
}
.h3_foot{

text-align: center;
margin: 2% 0 5% 0;
}
.icons{
    margin-left:65%
}
