:root{
    font-family: 'Heebo';
}
.Footer{
    background: rgb(66, 146, 235);
    color: white;
    padding: 3em;
}
.foot_img{
    margin-left: 42%;
}
.Footer_head{
    text-align: center;
    margin: 2%;
}
.Tags{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
 justify-content: space-around; 



}
.footer_btn{
    background-color:black;
    color: rgb(66, 146, 235);
}
.last{
    background-color: black;
    color: white;
    margin: 0%;
    padding: 0%;
}
.foot{
    padding: 0 2%;
    color: grey 100 !important;
    font-size: 1rem !important;
}