:root{
    font-family: 'Heebo';
}
.Footer{
    background: rgb(66, 146, 235);
    color: white;
    padding: 3em;
}
.foot_img{
    margin-left: 42%;
}
.Footer_head{
    font-family: 'Heebo';
    text-align: center;
    margin: 2%;
}

.footer_btn{
    margin-left: 44%;
}
.last{
    
    background-color: black;
    color: white;
    margin: 0%;
    padding: 0%;
}
.foot{
    padding: 0 2%;
    color: grey 100 !important;
    font-size: 1rem !important;
}
.h3_foot{
    font-family: 'Heebo';
text-align: center;
margin-bottom: 5%;
}
.first{
    font-family: 'Heebo';
    left: 0%; 
    position: relative;
}
.second
{ 
font-family: 'Heebo';
left: -1%; 
position: relative; 
}
.third
{ 
font-family: 'Heebo';
left: 0%; 
position: relative; 
}