.ol-map {
    min-width: 600px;
    min-height: 500px;
    margin: 0 0;
    height: 500px;
    width: "100%";
  }
  .ol-control {
    position: absolute;
    background-color: rgba(255,255,255,0.4);
    border-radius: 4px;
    padding: 2px;
  }
  .ol-full-screen {
    top: .5em;
    right: .5em;
  }
  .ol-control button {
    height: 24px;
    width: 24px;
    background: #fff;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}